name: CI

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  train_model:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.10.13

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install mlflow==2.9.1
          python -m pip install pandas scikit-learn

      - name: Check MLflow version
        run: mlflow --version

      - name: Run MLflow project
        run: mlflow run MLProject/ --experiment-name "CI_Training" --env-manager=local

      - name: Upload MLflow run artefacts
        uses: actions/upload-artifact@v4
        with:
          name: trained_model
          path: MLProject

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      
      - name: Read run_id
        id: get_run_id
        run: echo "RUN_ID=$(cat MLProject/run_id.txt)" >> $GITHUB_ENV

      - name: Build Docker image from trained MLflow model
        run: |
          mlflow models build-docker -m "runs:/${RUN_ID}/model" -n nawfaldo/mlflow-ci:latest --enable-mlserver
        
      - name: Push Docker image
        run: docker push nawfaldo/mlflow-ci:latest