name: CI

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  train_model:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.10.13

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install mlflow==2.16.1
          python -m pip install pandas scikit-learn

      - name: Run MLflow project
        run: |
          export MLFLOW_TRACKING_URI=$(pwd)/mlruns
          mlflow run MLProject/ --experiment-name "CI_Training" --env-manager=local

      - name: Upload MLflow run artefacts
        uses: actions/upload-artifact@v4
        with:
          name: trained_model
          path: MLProject

      - name: Get RUN_ID
        id: get_run_id
        run: |
          RUN_ID=$(cat MLProject/run_id.txt)
          echo "RUN_ID=$RUN_ID" >> $GITHUB_ENV

      - name: Build and Push Docker Image
        env:
          DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
          DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}
          RUN_ID: ${{ env.RUN_ID }}
        run: |
          echo "$DOCKERHUB_TOKEN" | docker login -u "$DOCKERHUB_USERNAME" --password-stdin

          MODEL_URI="mlruns/0/${RUN_ID}/artifacts/model"
          IMAGE_NAME="$DOCKERHUB_USERNAME/mlflow-ci"

          echo "Model URI: $MODEL_URI"
          echo "Docker Image: $IMAGE_NAME"

          DOCKER_DIR="mlflow_docker_ctx"
          rm -rf "$DOCKER_DIR"
          mkdir -p "$DOCKER_DIR/model"
          cp -r "$MODEL_URI" "$DOCKER_DIR/model"

          cat > "$DOCKER_DIR/Dockerfile" << 'EOF'
          FROM python:3.12-slim
          RUN apt-get update && apt-get install -y build-essential && rm -rf /var/lib/apt/lists/*
          ENV PYTHONUNBUFFERED=1 PYTHONNOUSERSITE=1
          WORKDIR /opt/app
          RUN pip install --no-cache-dir \
            mlflow==2.16.1 \
            pandas==2.2.0 \
            scikit-learn==1.4.0 \
            "protobuf<4" \
            "googleapis-common-protos<2"
          COPY model /opt/model
          EXPOSE 5000
          CMD ["mlflow", "models", "serve", "-m", "/opt/model", "--env-manager", "local", "--host", "0.0.0.0", "--port", "5000"]
          EOF

          docker build -t "$IMAGE_NAME:latest" "$DOCKER_DIR"
          docker push "$IMAGE_NAME:latest"

          GIT_SHA=$(git rev-parse --short HEAD)
          docker tag "$IMAGE_NAME:latest" "$IMAGE_NAME:$GIT_SHA"
          docker push "$IMAGE_NAME:$GIT_SHA"

          echo "Docker image berhasil di-push ke Docker Hub."
