name: CI

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  train_model:
    runs-on: ubuntu-latest
    env:
      IMAGE_NAME: workflow-ci-california-housing
      DOCKER_USER: ${{ secrets.DOCKER_USERNAME }}
      DOCKER_PASS: ${{ secrets.DOCKER_PASSWORD }}

    steps:
      - uses: actions/checkout@v3

      - name: Instal jq
        run: sudo apt-get update && sudo apt-get install -y jq

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.10.13

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install --upgrade mlflow
          python -m pip install pandas scikit-learn

      - name: Check MLflow version
        run: mlflow --version

      - name: Run MLflow project
        id: train
        run: |
          mlflow run MLProject/ --experiment-name "CI_Training" --env-manager=local
          
          RUN_ID=$(mlflow search runs \
            --experiment-name "CI_Training" \
            --order-by "start_time DESC" \
            --max-results 1 \
            --output-format json | jq -r '.[0].info.run_id')


          echo "DEBUG: Nilai RUN_ID yang diekstrak adalah: $RUN_ID"

          if [ -z "$RUN_ID" ]; then
            echo "ERROR: RUN_ID kosong. Langkah Docker akan di-skip."
          fi

          echo "MLFLOW_RUN_ID=$RUN_ID" >> $GITHUB_ENV
          echo "Model dilatih dengan Run ID: $RUN_ID"

      - name: Upload trained model
        uses: actions/upload-artifact@v4
        with:
          name: trained_model
          path: MLProject/

      - name: Login to Docker Hub
        if: ${{ github.env.MLFLOW_RUN_ID != '' }} 
        uses: docker/login-action@v3
        with:
          username: ${{ env.DOCKER_USER }}
          password: ${{ env.DOCKER_PASS }}

      - name: Build Docker Image using mlflow build-docker
        if: ${{ github.env.MLFLOW_RUN_ID != '' }}
        run: |
          IMAGE_TAG="${{ env.DOCKER_USER }}/${{ env.IMAGE_NAME }}"
          mlflow build-docker \
            --model-uri "runs:/${{ github.env.MLFLOW_RUN_ID }}/model" \
            --name "$IMAGE_TAG" \
            --enable-mlserver

      - name: Push Docker Image to Docker Hub
        if: ${{ github.env.MLFLOW_RUN_ID != '' }}
        run: |
          IMAGE_TAG="${{ env.DOCKER_USER }}/${{ env.IMAGE_NAME }}"
          docker push "$IMAGE_TAG:latest"
          # Tambahkan tag commit SHA untuk versi
          docker tag "$IMAGE_TAG:latest" "$IMAGE_TAG:${{ github.sha }}"
          docker push "$IMAGE_TAG:${{ github.sha }}"
          
          echo "Image Docker $IMAGE_TAG berhasil didorong ke Docker Hub."